RewriteEngine On

RewriteCond %{HTTP_HOST} ^www\.perpus\.smkn5kabtangerangmauk\.sch\.id$ [NC]
RewriteRule ^(.*)$ https://perpus.smkn5kabtangerangmauk.sch.id/$1 [L,R=301]

RewriteCond %{REQUEST_URI} !^/public/
RewriteRule ^(.*)$ public/$1 [L]